<%- include("partials/header") -%>

<div class="about__text" style="text-align: center; margin-top: 200px">
  <div
    style="
      height: 450px;
      display: flex;
      width: 50%;
      justify-content: center;
      margin: 0 auto;
      contain: content;
    "
  >
    <h1
      id="about-h"
      style="letter-spacing: 5px; color: #111111; font-size: max(3vw, 30px)"
    >
      Hello - My name is <strong>Eden</strong>, i'm a full stack developer based
      in india and this is a selection of my <strong>personal</strong> and
      <strong>professional</strong> work.
    </h1>
  </div>
  <div
    class="about__image"
    style="
      display: flex;
      width: 40%;
      justify-content: center;
      margin: 0 auto;
      margin-top: 100px;
    "
  >
    <img
      src="https://images.unsplash.com/photo-1521737711867-e3b97375f902?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=1000&amp;q=80%22%20alt=%22men%20sitting%20in%20front%20of%20their%20laptop%20computer%22%3E"
      alt="design7"
      style="
        height: 700px;
        width: 500px;
        box-shadow: 0 4px 60px rgba(0, 0, 0, 0.5);
      "
    />
  </div>
</div>
<%- include("partials/footer"); -%>
<!-- /* font-family: 'Montserrat', sans-serif; */ -->
