<%- include("partials/header"); -%>

<div class="text">
  <h1 class="text-design">CREATIVITY</h1>
  <p>
    The alternative to good design is always bad design. There is no such thing
    as no design.
  </p>
</div>

<div class="design">
  <div class="img__div">
    <img
      src="https://images.unsplash.com/photo-1613070350607-fd1335609fa6?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=1000&amp;q=80%22%20alt=%22woman%20in%20gray%20coat%20standing%20beside%20green%20tree"
      alt=""
      class="img"
    />
  </div>

  <div class="design-text">
    <span class="temp">01</span>
    <hr />
    <span class="temp-para"
      >Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique ea
      repudiandae optio, dignissimos quo explicabo necessitatibus praesentium
      tenetur sint quod repellat fugit tempora iusto doloribus vero deserunt at
      voluptatem cupiditate?Lorem ipsum dolor sit amet, consectetur adipiscing
      elit. Donec gravida tincidunt euismod. Mauris lacus mi, vulputate eget sem
      vitae, imperdiet consectetur urna. In ante sapien, mattis eu nisi ut,
      malesuada fringilla massa. Ut pulvinar, quam quis interdum convallis, sem
      dolor ullamcorper lacus, vel tristique felis nunc in risus.
    </span>
  </div>
</div>

<div class="design2">
  <div>
    <img
      src="https://images.unsplash.com/photo-1562706553-2a124d8fe5a1?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=1000&amp;q=80%22%20alt=%22unknown%20person%20smoking"
      alt=""
      class="img"
    />
  </div>
  <div class="design-text2">
    <span class="temp2">02</span>
    <hr />
    <span class="temp-para2"
      >Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique ea
      repudiandae optio, dignissimos quo explicabo necessitatibus praesentium
      tenetur sint quod repellat fugit tempora iusto doloribus vero deserunt at
      voluptatem cupiditate?Lorem ipsum dolor sit amet, consectetur adipiscing
      elit. Donec gravida tincidunt euismod. Mauris lacus mi, vulputate eget sem
      vitae, imperdiet consectetur urna. In ante sapien, mattis eu nisi ut,
      malesuada fringilla massa. Ut pulvinar, quam quis interdum convallis, sem
      dolor ullamcorper lacus, vel tristique felis nunc in risus.</span
    >
  </div>
</div>

<div class="design">
  <div>
    <img
      src="https://images.unsplash.com/photo-1523944339743-0fe06f079939?ixlib=rb-1.2.1&amp;ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&amp;auto=format&amp;fit=crop&amp;w=1000&amp;q=80%22%20alt=%22two%20women%20looking%20up%20white%20leaning%20on%20fence"
      class="img"
    />
  </div>
  <div class="design-text">
    <span class="temp">03</span>
    <hr />
    <span class="temp-para"
      >Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique ea
      repudiandae optio, dignissimos quo explicabo necessitatibus praesentium
      tenetur sint quod repellat fugit tempora iusto doloribus vero deserunt at
      voluptatem cupiditate?Lorem ipsum dolor sit amet, consectetur adipiscing
      elit. Donec gravida tincidunt euismod. Mauris lacus mi, vulputate eget sem
      vitae, imperdiet consectetur urna. In ante sapien, mattis eu nisi ut,
      malesuada fringilla massa. Ut pulvinar, quam quis interdum convallis, sem
      dolor ullamcorper lacus, vel tristique felis nunc in risus.</span
    >
  </div>
</div>

<div class="design2">
  <div>
    <img
      src="https://images.unsplash.com/photo-1515886657613-9f3515b0c78f?ixlib=rb-1.2.1&amp;ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&amp;auto=format&amp;fit=crop&amp;w=1000&amp;q=80%22%20alt=%22woman%20in%20yellow%20tracksuit%20standing%20on%20basketball%20court%20side"
      alt=""
      class="img"
    />
  </div>

  <div class="design-text2">
    <span class="temp2">04</span>
    <hr />
    <span class="temp-para2"
      >Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique ea
      repudiandae optio, dignissimos quo explicabo necessitatibus praesentium
      tenetur sint quod repellat fugit tempora iusto doloribus vero deserunt at
      voluptatem cupiditate?Lorem ipsum dolor sit amet, consectetur adipiscing
      elit. Donec gravida tincidunt euismod. Mauris lacus mi, vulputate eget sem
      vitae, imperdiet consectetur urna. In ante sapien, mattis eu nisi ut,
      malesuada fringilla massa. Ut pulvinar, quam quis interdum convallis, sem
      dolor ullamcorper lacus, vel tristique felis nunc in risus.</span
    >
  </div>
</div>

<div class="design">
  <div>
    <img
      src="https://images.unsplash.com/photo-1510861320402-285a6c7639ea?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=1000&amp;q=80%22%20alt=%22white%20printer%20paper"
      class="img"
      alt="..."
    />
  </div>
  <div class="design-text">
    <span class="temp">05</span>
    <hr />
    <span class="temp-para"
      >Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique ea
      repudiandae optio, dignissimos quo explicabo necessitatibus praesentium
      tenetur sint quod repellat fugit tempora iusto doloribus vero deserunt at
      voluptatem cupiditate?Lorem ipsum dolor sit amet, consectetur adipiscing
      elit. Donec gravida tincidunt euismod. Mauris lacus mi, vulputate eget sem
      vitae, imperdiet consectetur urna. In ante sapien, mattis eu nisi ut,
      malesuada fringilla massa. Ut pulvinar, quam quis interdum convallis, sem
      dolor ullamcorper lacus, vel tristique felis nunc in risus.</span
    >
  </div>
</div>

<div class="design3">
  <div>
    <img
      src="https://images.unsplash.com/photo-1507297448044-a99b358cd06e?ixlib=rb-1.2.1&amp;ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&amp;auto=format&amp;fit=crop&amp;w=1000&amp;q=80%22%20alt=%22woman%20and%20man%20posing%20for%20photoshoot%22%3E"
      alt=""
      class="img6"
    />
  </div>
  <div class="animation">
    <span class="text2">DISCOVER</span>
  </div>
</div>

<%- include("partials/footer");-%>
